---
layout: page
title: Developing Intelligent Players
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">A SPORTS CONSULTING &#38; <br> PLAYER DEVELOPMENT AGENCY</h1>
          <p class="animated fadeInUp">We love the game and the work we do. We work closely with our clients to develop player intelligence, pressure resistant skills, and patterns</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>We offer sports consulting services that are designed to take players, coaches, and teams to the next level. We have developed players that have been selected for European U18 national field hockey teams</p>
          </div>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>PAST RESULTS</h2>
      <p>We have developed 5 players that have been selected for 3 different European U18 national field hockey teams.</p>
      <p>We coached the USA West u18 and U19 teams at the junior national championships.</p>
      <p>We have coached a boys team which won a U14 boys national championship in Italy with a small club..</p>
      <p>We have coached a boys team which finished second twice in a U16 boys national championship in Italy with a small club.</p>
      <p>We have coached a girls team which qualified for the U14 and U16 girls national championship in Italy with a small club. The best finish was thrid place.</p>
      <p>We have coached a senior women's team which won the senior women's national championship in Serbia.</p>

      <a href="#" class="btn btn-view-works">View Works</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
          <p>We offer sports consulting services that are designed to take players, coaches, and teams to the next level.</p>
          <p>We design training programs custom taliored to the needs of the players, coaches, and teams which we serve. For players we assess the player's current levels of game intelligence, skills, and understanding and ability to execute patterns. For coaches we consult on training programs and strategy. For teams we work on developing better understanding between players, with a focus on attacking and defensive patterns of play and scoring. </p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Palyer Intelligence</h4>
          <p>We teach the 6 step player intelligence model using real training on the field. Perception, conception, decision, deception, execution, and assessment</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Offensive Skills</h4>
          <p>Basic, intermediate, and advanced skills are taught with a focus on biomechanics, footwork, posture, and game situation to use the skills. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>Defensive Skills</h4>
          <p>Defensive skills are taught with an emphasis on tackling, marking, channeling/shadowing, and tackling in pairs. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Offensive patterns</h4>
          <p>Offesnive patterns are taught for defensive, miodfield and attacking buildup play as well as plays designed to generate shots on goal </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Defensive Patterns</h4>
          <p>Defensive patterns are taught which include defensive formations, organization, and running lines. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Drag flick training</h4>
          <p>The biomechanics and footwork of the drag flick are taught in stages. See the Drag Flack book for an idea of the depth of training. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Formations, tactics and Strategy</h4>
          <p>Customized formations, tactics, and stragey are developed for teams based on level, opposition, and the desired style of play</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4></h4>
          <p> </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
